body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0px;
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin: 0 0 15px;
  line-height: 1.4em;
  font-family: 'Poppins', sans-serif;
  color: #333333;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
a:hover {
  text-decoration: none;
}
.section-padding {
  padding: 150px 0;
}
/* Navbar style  */
.logo-text {
  font-weight: 800;
  font-size: 32px;
}
.navigation-container {
  background-color:rgba(48,175,254,0.3);
position: absolute;
top: 0;
left: 0;
box-shadow: none;
}

/* Header Style start */
header {
  background: linear-gradient(75deg, rgb(1, 136, 253) 0%, rgb(35, 189, 243) 40%, rgb(78, 180, 254) 41%, rgb(4, 239, 255) 93%, rgb(1, 241, 255) 100%);
}

.download-button {
  padding: 15px 42px;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(90deg, #1bd9b3 0%, #91d173 100%);
}
.welcome-title {
  margin-bottom: 64px;
}
/* About section  */
.about-container {
  background-color: 
  #f3f8fc;
}
.about-us-checkboxes {
  background-color: #f3f8fc;
}
.about-image img {
  width: 100%;
}
.custom-checkbox label {
  font-size: 14px;
}
.video-container img {
  width: 100%;
  object-fit: cover;
}
.video-text-container {
  position: relative;
}
.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.6);
 
  z-index:9999;
  color:white;
}

.circular-play-button {
  height: 60px;
  width: 60px;
  text-align: center;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.features-container {
  background-color: #f3f8fc;
}


.pricing-container {
  background-image: linear-gradient(45deg, #4fabfd 0%, #4db5fd 51%, #00f1fd 100%);
}

.price-box {
  background-image: linear-gradient(to top, #6dd5ed 0%, #2193af 100%);
  color: white;
  text-align: center;
}

.price-box-top {
  padding: 40px 40px 90px 40px;
  background: url('../assets/price-header.png') no-repeat scroll center center / calc(100% + 50px) 100%;
  /* background-image: url('../assets/price-header.png'); */
}

.price .dollar {
  font-weight: 900;
  font-size: 30px;
  position: relative;
  top: -20px;
}
.price .amount {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}
.price-box-bottom {
  padding-bottom: 48px;
}
.price-list-main {
  padding: 0;
}
.price-list-main .price-lists {
  list-style: none;
  margin-bottom: 8px;
}
.price-button {
  padding: 16px 40px;
  border-radius: 50px;
  color: #fff;
  border: none;
  background-image: linear-gradient(90deg, #31d8a7, #87d279 );
}
/* FAQ section  */

.question-title {
  padding: 16px 24px;
  font-size: 18px;
  color: #666;
  box-shadow: 0 4px 4px #f2f2f2;
}

/* Download the app  */
ol li {
  height: 12px !important;
  border-radius: 50%;
  width: 12px !important;
  margin: 0 8px !important;
  background-color: #666 !important;
}

.download-the-app {
  background-image: linear-gradient(to right,#4eaffd 0%, #4db5fd 51%, #00f1fd 100%);
}
.download-text {
  padding: 120px 0px;
}
 .download-section-image{
  background-image: url('../assets/phone-1-.png');
  background-repeat: no-repeat;
  height: 325px;
 }
.store-icon img {
  height: 32px;
  margin: 12px 12px 0 0;
}
.icon-button {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 8px;
}
.play-store {
  margin-right: 16px;
}
.app-store {
  font-size: 24px;
  font-weight: 600;
}

/* boxes  */
.frequent-ask-again, .footer, .footer li {
  background-color: #f3f8fc;
}
.boxes-container {
  display: flex;
}
.single-box {
  position: relative;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin: 0 15px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}
.rated {
  color: gold;
}
.not-rated{
  color: #dfdfdf;
}
.name {
  height: 50px;
  width: 50px;
  background-color: red;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-name-container .text {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.left-right-button {
  height: 60px;
  position: relative;
  top: 25%;
  background-color: #aaa;
  color: #7b7474;
}

/* Footer  */
.copyright, .social-media a {
  color: #697171;
  margin: 0 4px;
}
.list-group li a, .copyright a {
  color: #666666
}
